/* Navbar.css */

.navbar-container {
    /*height: 100vh;*/
    position: fixed;
    left: 0;
    top: 0;
    padding: 1em;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombre douce */
    background: #232323;
}

.navbar-logo {
    color: #fff; /* Texte blanc */
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    /*margin-top: 20px; !* Espace entre le logo et les éléments *!*/
}

.navbar-item {
    border: 1px solid #555;
    padding: 2em;
}

.navbar-link {
    /*padding: 5em;*/
    color: #fff; /* Texte blanc */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-item:hover .navbar-link {
    color: #00f; /* Texte bleu lorsqu'il est survolé */
}
