#root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --body-bg-color: #242424;
    --body-bg-color-variant: #141414;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    font-weight: 400;
}

:root {
    --animation-error-duration: 300ms;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Nécessaire pour que les enfants puissent occuper 100% de la hauteur */
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

@media (min-width: 720px) {
    body {
        font-size: 18px;
    }
}

.app-container {
    display: flex;
    flex-direction: column; /* Permet de placer le nav en haut et le contenu en bas */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
}

table {
    background-color: var(--body-bg-color);
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
    padding: 2em;
}

.main-container {
    display: flex;
    flex-direction: column;           /* Colonne pour que les éléments s’empilent verticalement */

    width: 100%;
    max-width: 500px;
    margin: 1px auto;

    padding-left: 1rem;
    padding-right: 1rem;

    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
}

.read-the-docs {
    color: #888;
}

.custom-input {
    /*max-width: 95%;*/
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    padding: 0.9rem;
    outline: none;
    background-color: black;
}

.custom-input:focus {
    border: 1px solid #3182ce;
    box-shadow: 0 0 3px rgba(49, 130, 206, 0.5);
}


.custom-table {
    /*width:%;*/
    table-layout: fixed;
    overflow-wrap: break-word;
    border-collapse: separate;
    border-spacing: 0.5em;
}

.custom-table th {
    font-size: 20px; /* Ajustez la taille selon vos besoins */
    font-weight: bold; /* Pour un texte plus épais */
}

.input-error:focus {
    animation: shake var(--animation-error-duration);
    border-color: red;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25%,
    75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

/**/
